<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网页聊天</title>
<script type="text/javascript">
var user = {$user|json_encode};
</script>
<script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/dandan.js"></script>
<script type="text/javascript" src="/static/js/swoole_config.js"></script>
<script type="text/javascript" src="/static/js/chat.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<link rel="stylesheet" href="//res.layui.com/layui/build/css/layui.css"  media="all">
<link href="/static/images/dandan.css" rel="stylesheet" media="screen" type="text/css" />
</head>
<body>
<div id="mid_top">
</div>
<div id="top">头部</div>
<div id="body">
  <div id="left">
    <div class="box">
      <!-- <h3 class="h3 h3_1">最近聊天(<span class="n_geshu_1"></span>)</h3>
      <ul class="ul ul_1">
      {volist name="doctors" id="vo"}
          <li id="user{$vo.id}" onmouseover="hover_user(this)" onclick="title_newuser('chat_user_{$vo.id}','{$vo.nickname}','{if condition="$vo.avatar == ''"}/static/images/touxiang.jpg{else}{$vo.avatar}{/if}');" class='user-list'><span class="nickname">{$vo.nickname}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="online-status{$vo.id}">{$vo.id|login_status}</span></li>
        {/volist}
      </ul> -->
      <h3 class="h3 h3_2">我的好友(<span class="n_geshu_2"></span>)</h3>
      <ul class="ul ul_2">
        {volist name="friends" id="vo"}
          <li id="user{$vo.id}" onmouseover="hover_user(this)" onclick="userInfo({$vo.id},'{$vo.nickname}');" class='user-list'><span class="nickname">{$vo.nickname}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="online-status{$vo.id}">{$vo.id|login_status}</span></li>
        {/volist}
        <!-- title_newuser('chat_user_{$vo.id}','{$vo.nickname}','{if condition="$vo.avatar == ''"}/static/images/touxiang.jpg{else}{$vo.avatar}{/if}'); -->
      </ul>
    </div>
    <div class="box_f"></div>
  </div>
  <div id="right">
    <div class="right_box">
      <div id="right_top">
        <!--<p><img src="images/head.jpg" alt="头象" /></p>
        老猪--></div>
      <div id="right_mid"></div>
      <div id="right_foot">蛋蛋</div>
      <div class="blank"></div>
    </div>
    <div class="right_box_foot"></div>
  </div>
  <div id="mid">
    <div id="mid_con">
      <div class="my_show">
        <div class="con_box"><div class="dandan_liaotian"></div></div>
      </div>
    </div>
    <div id="mid_mid"></div>
    <div id="mid_foot">
      <div id="mid_say">
        <textarea name="" cols="" rows="" id="texterea"></textarea>
      </div>
      <div id="mid_sand" onclick="sendMsg()">发送</div>
      <div class="blank"></div>
    </div>
    <div class="mid_box"></div>
  </div>
</div>
</body>
<script type="text/javascript">
  $("#right_foot").html('<p><img src="/static/images/touxiang.jpg" alt="头象" /></p>'+user.name);
  function userInfo(user_id,title_c){
    var user = user_id;
    $.post('{:url('user/openinfo')}',{
          'id':user,
        },function(data){
          layer.ready(function(){ 
            layer.open({
              type: 1,
              title: title_c,
              shadeClose: true,
              //shade: false,
              maxmin: true, //开启最大化最小化按钮
              area: ['700px', '400px'],
              content: data,
            });
          });
        });
  }
</script>
</html>
